:root { /* attaches to root of doc/HTML */
    --site-color-01: #c13584; /* HAS SCOPE CSS Variable */
    --site-color-01-hover: #9e2f6e;
}
html {
    font-size: 62.5%;
}
body {
    background-color: #1e1e1e;
}
body::after {
    position: absolute;
    height: 0;
    width: 0;
    overflow: hidden;
    z-index: -1;
    content: url(../img/facebook-color.png) url(../img/instagram-color.png);
}
.wrapper-main {
    width: 1100px;
    margin: 0 auto; /* 0 auto centers */
}
h1 {
    font-size: 2.6rem;
    line-height: 1.5;
    color: #fff;
    font-family: Roboto;
    font-weight: 600;
    text-transform: uppercase;
}
h2 {
    font-size: 2.8rem;
    line-height: 1.5;
    color: #fff;
    font-family: Roboto;
    font-weight: 600;
    text-transform: uppercase;
}
h3 {
    font-size: 2.6rem;
    line-height: 1.5;
    color: #fff;
    font-family: Roboto;
    font-weight: 600;
    text-transform: uppercase;
}
p {
    font-size: 1.4rem;
    line-height: 1.75;
    color: #fff;
    font-family: Roboto;
}
a {
    font-size: 1.4rem;
    line-height: 1.75;
    color: #fff;
    font-family: Roboto;
    cursor: pointer;
}
.header-main {
    position: fixed; /*Ripped Out HTML and Put it above everything */
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #fff; /*Use var() to attach variable */
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}
.header-main-logo {
    width: fit-content;
    height: 100%;
    padding-left: 60px;
    display: flex;
}
.header-main-logo img {
    height: 40px;
    align-self: center;
}
.header-main-nav {
    width: fit-content;
    height: 100%;
}
.header-main-nav ul {
    margin-left: 30px;
}
.header-main-nav ul li {
    display: inline;
    float: left;
}
.header-main-nav ul li a {
    padding: 0 10px;
    font-family: Roboto;
    line-height: 60px;
    color: #000;
    display: block;
    height: 100%;
}
.header-main-nav ul li a:hover {
    color: #c13584;
}
.header-main-sm {
    width: fit-content;
    height: 100%;
    padding-right: 60px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.header-main-sm-fb {
    width: 20px;
    height: 20px;
    background-image: url(../img/facebook.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header-main-sm-fb:hover {
    background-image: url(../img/facebook-color.png);
}
.header-main-sm-in {
    width: 20px;
    height: 20px;
    background-image: url(../img/instagram.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header-main-sm-in:hover {
    background-image: url(../img/instagram-color.png);
}

/* FOOTER */

.footer-main {
    width: 100%;
    padding: 60px 0 100px;
    background-color: #141414;
}
.footer-main-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer-testimony {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer-testimony img {
    width: 60%;
    border-radius: 100px;
}
.footer-testimony p {
    text-align: center;
    font-size: 1.6rem;
    padding: 20px 20px;
}
.footer-getintouch {
    padding: 10px 20px;
    margin: 40px 0 60px;
    border: 2px solid #fff;
    font-weight: 600;
    transition: all ease-in-out 200ms;
}
.footer-getintouch:hover {
    border: 2px solid var(--site-color-01);
}
.footer-sitemap {
    flex-basis: 100%;
    display: flex;
}
.footer-sitemap a {
    line-height: 30px;
}
.footer-sitemap a:hover {
    opacity: 0.8;
}
.footer-sitemap ul:nth-child(1) {
    border-left: 4px solid var(--site-color-01);
    padding-left: 20px;
}
.footer-sitemap ul:nth-child(1), 
.footer-sitemap ul:nth-child(2){
    flex-basis: 180px;
}
.footer-sitemap ul:nth-child(3) {
    flex-basis: 340px;
}
.footer-sitemap ul p {
    text-transform: uppercase;
}
.footer-sitemap ul:nth-child(4) {
    flex-grow: 1;
}
.footer-sitemap ul:nth-child(4) p {
    text-align: right;
}

/* Burger Menu */

.burger-menu, .burger-menu-btn {
    display: none;
}

/* Responsive Styling/MOBILE VERSIONS */

@media only screen and (max-width: 600px) {
    .burger-menu-btn {
        display: block;
        margin-left: 10px;
        width: 50px;
        height: 50px;
        background-image: url(../img/icons/burger-menu.png), url(../img/icons/close.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center, center left 50px;
    }
    .burger-menu {
        display: none;
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 900;
        background-color: #111;
    }
    .burger-menu ul {
        width: 100%;
        height: calc(100vh - 60px);
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
    }
    .burger-menu ul li {
        flex-basis: 100%;
        border-top: 2px solid #000;
    }
    .burger-menu ul li:last-child {
        border-bottom: 2px solid #000;
    }
    .burger-menu ul li a {
        display: block;
        height: 100%;
        font-size: 3rem;
        padding: 30px 0;
        flex-basis: 100%;
        text-align: center;
    }
    .wrapper-main {
        width: calc(100% - 40px);
    }
    .header-main-logo {
        padding-left: 20px;
    }
    .header-main-nav {
        display: none;
    }
    .header-main-sm {
        padding-right: 20px;
    }

    /* FOOTER */

    .footer-testimony {
        display: none;
    }
    .footer-getintouch {
        margin: 0 0 60px;
    }
    .footer-sitemap {
        flex-wrap: wrap;
    }
    .footer-sitemap ul:nth-child(1) {
        border-left: none;
        padding-left: 0;
    }
    .footer-sitemap ul:nth-child(1), 
    .footer-sitemap ul:nth-child(2),
    .footer-sitemap ul:nth-child(3) {
        flex-basis: 100%;
        text-align: center;
        padding-bottom: 20px;
    }
    .footer-sitemap ul p {
        padding: 0 20px;
    }
    .footer-sitemap ul:nth-child(4) p {
        text-align: center;
    }

}